@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(-45deg, #9eea00, #4ff4a2, #a2e665, #abe6ec);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Quicksand";
  margin: 20px;
  font-size: 4rem;
  color: #053742;
  font-weight: 300;
  text-align: center;
}
h3 {
  font-family: "Quicksand";
  margin: 20px;
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: center;
  font-size: 2rem;
  color: #053742;
  font-weight: 300;
}

.background-circle {
  width: 300px;
  height: 300px;
  background: white;
  border: none;
  clip-path: circle(50%);
}

.circle {
  width: 300px;
  height: 300px;
  background: #053742;
  clip-path: circle(25%);
  animation: circle 14s infinite;
  display: grid;
  border: none;
}

.circle::after {
  content: "";
  font-family: "Quicksand";
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: content 14s infinite; /* Safari 4+ */
  -moz-animation: content 14s infinite; /* Fx 5+ */
  -o-animation: content 14s infinite; /* Opera 12+ */
  animation: content 14s infinite; /* IE 10+, Fx 29+ */
}

@keyframes content {
  0%,
  44% {
    content: "HOLD";
    opacity: 1;
  }

  45%,
  75% {
    content: "HOLD";
  }
  76%,
  100% {
    content: "BREATH OUT";
  }
}

@keyframes circle {
  0% {
    clip-path: circle(25%);
  }
  50%,
  75% {
    clip-path: circle(50%);
  }
  100% {
    clip-path: circle(25%);
  }
}
